use flake
source .venv/bin/activate
source .env
export POSTGRES_PASSWORD
export SECRET_KEY
export EMAIL_HOST_PASSWORD
export GITHUB_WEBHOOK_KEY
export GITHUB_TOKEN
export GITLAB_WEBHOOK_KEY
export GITLAB_TOKEN
export REDMINE_TOKEN
export OPENROB_TOKEN
export TRAVIS_TOKEN
export GITHUB_PIPELINE_TOKEN
export GITLAB_PIPELINE_TOKEN
