[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
ndh = ">=3.9.0"
django = "<2.3"
django-filter = "*"
"django-tables2" = "*"
requests = "*"
GitPython = "*"
djangorestframework = "<3.11"

[requires]
python_version = "3.7"
