[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
ndh = "*"
django = "<3.0"
django-filter = "*"
"django-tables2" = "*"
requests = "*"
GitPython = "*"
djangorestframework = "<3.11"
django-auth-ldap = "*"
