{% extends 'base.html' %}
{% load django_tables2 bootstrap3 %}

{% block content %}

<div class="clearfix">
  <h1>{{ project }}</h1>

  <div class="pull-right">
    {% if project.license %}
    {% bootstrap_label project.license label_class='label label-primary' %}
    {% else %}
    {% bootstrap_label 'UNLICENSED' label_class='label label-warning' %}
    {% endif %}

    {% if project.public %}
    {% bootstrap_label 'public' label_class='label label-success' %}
    {% else %}
    {% bootstrap_label 'private' label_class='label label-danger' %}
    {% endif %}
  </div>

  <dl class="dl-horizontal">
        <dt>Main forge</dt> <dd>{{ project.main_forge.get_link }}</dd>
    <dt>Main namespace</dt> <dd>{{ project.main_namespace }}</dd>
       <dt>Main branch</dt> <dd>{{ project.main_branch }}</dd>
       <dt>Description</dt> <dd>{{ project.description }}</dd>
          <dt>Homepage</dt> <dd>{% if project.homepage %}<a href="{{ project.homepage }}">{{ project.homepage }}</a>{% else %}—{% endif %}</dd>
           <dt>Updated</dt> <dd>{{ project.updated }}</dd>
           <dt>Version</dt> <dd>{{ project.version|default:"—" }}</dd>
     <dt>Commits since</dt> <dd>{{ project.commits_since }}</dd>
         <dt>Has tests</dt> <dd>{{ project.tests|yesno:"✔,✘" }}</dd>
          <dt>Has docs</dt> <dd>{{ project.docs|yesno:"✔,✘" }}</dd>
  </dl>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" {% if 'robotpkg'       in request.path %}class="active"{% endif %}><a href="{% url 'rainboard:project'                slug=project.slug %}">Robotpkg    </a></h2></li>
  <li role="presentation" {% if 'repos'          in request.path %}class="active"{% endif %}><a href="{% url 'rainboard:project-repos'          slug=project.slug %}">Repos       </a></h2></li>
  <li role="presentation" {% if 'branches'       in request.path %}class="active"{% endif %}><a href="{% url 'rainboard:project-branches'       slug=project.slug %}">Branches    </a></h2></li>
  <li role="presentation" {% if 'images'         in request.path %}class="active"{% endif %}><a href="{% url 'rainboard:project-images'         slug=project.slug %}">Images      </a></h2></li>
  <li role="presentation" {% if 'contributors'   in request.path %}class="active"{% endif %}><a href="{% url 'rainboard:project-contributors'   slug=project.slug %}">Contributors</a></h2></li>
</ul>

{% if table %}

{% render_table table %}
{% if 'images' in request.path %}
<pre>{% for image in object_list %}
{{ image.pull|join:' ' }}
{{ image.build|join:' ' }}
{{ image.push|join:' ' }}
{% endfor %}</pre>
{% endif %}

{% else %}

<h2>Robotpkg</h2>

{% for rpkg in project.robotpkg_set.all %}

<h3>{{ rpkg.category }} / {{ rpkg }}</h3>

{{ rpkg.description }}

<dl class="dl-horizontal">
               <dt>Base</dt> <dd>{{ rpkg.pkgbase }}</dd>
            <dt>Version</dt> <dd>{{ rpkg.pkgversion }}</dd>
{% if project.public and not request.user.is_staff %}
       <dt>Master Sites</dt> <dd>{{ rpkg.master_sites }}</dd>
  <dt>Master Repository</dt> <dd>{{ rpkg.master_repository }}</dd>
{% endif %}
         <dt>Maintainer</dt> <dd>{{ rpkg.maintainer }}</dd>
            <dt>Comment</dt> <dd>{{ rpkg.comment }}</dd>
            <dt>License</dt> <dd>{{ rpkg.license }}</dd>
            <dt>Updated</dt> <dd>{{ rpkg.updated }}</dd>
          <dt>Main page</dt> <dd>{% if rpkg.main_page %}<a href="{{ rpkg.main_page }}">{{ rpkg.main_page }}</a>{% else %}—{% endif %}</dd>
         <dt>Build page</dt> <dd><a href="{{ rpkg.build_page }}">{{ rpkg.build_page }}</a></dd>
</dl>

{% endfor %}

<h3>generated .gitlab-ci.yml</h3>
<pre>
{{ project.gitlabciyml }}
</pre>

{% endif %}

{% endblock %}
