{% extends 'base.html' %}
{% load django_tables2 bootstrap3 %}
{# TODO DRY project_detail.html #}

{% block content %}

<div class="clearfix">
  <h1>{{ project }}</h1>

  <div class="pull-right">
    {% if project.license %}
    {% bootstrap_label project.license label_class='label label-primary' %}
    {% else %}
    {% bootstrap_label 'UNLICENSED' label_class='label label-warning' %}
    {% endif %}

    {% if project.private %}
    {% bootstrap_label 'private' label_class='label label-danger' %}
    {% else %}
    {% bootstrap_label 'public' label_class='label label-success' %}
    {% endif %}
  </div>

  <dl class="dl-horizontal">
        <dt>Main forge</dt> <dd>{{ project.main_forge.get_link }}</dd>
    <dt>Main namespace</dt> <dd>{{ project.main_namespace }}</dd>
       <dt>Main branch</dt> <dd>{{ project.main_branch }}</dd>
       <dt>Description</dt> <dd>{{ project.description }}</dd>
           <dt>Version</dt> <dd>{{ project.version|default:"—" }}</dd>
          <dt>Homepage</dt> <dd>{% if project.homepage %}<a href="{{ project.homepage }}">{{ project.homepage }}</a>{% else %}—{% endif %}</dd>
          <dt>Updated</dt> <dd>{{ project.updated }}</dd>
  </dl>
</div>

<h2>Branches</h2>

{% render_table branches %}

{% endblock %}
