{% extends 'base.html' %}
{% load django_tables2 bootstrap4 %}

{% block content %}

<div class="clearfix">
  <h1>{{ project }}</h1>
  {% if project.cmake_name and project.cmake_name != project.name %}<h2>{{ project.cmake_name }}</h2>{% endif %}

  <div class="float-right">
    {% if project.license %}
    {% bootstrap_label project.license label_class='label label-primary' %}
    {% else %}
    {% bootstrap_label 'UNLICENSED' label_class='label label-warning' %}
    {% endif %}

    {% if project.public %}
    {% bootstrap_label 'public' label_class='label label-success' %}
    {% else %}
    {% bootstrap_label 'private' label_class='label label-danger' %}
    {% endif %}

    {{ project.badges }}
  </div>

  <dl class="row" style="line-height: 1">
             <dt class="col-3 text-right">Main forge</dt> <dd class="col-9">{{ project.main_forge.get_link }}</dd>
         <dt class="col-3 text-right">Main namespace</dt> <dd class="col-9">{{ project.main_namespace }}</dd>
            <dt class="col-3 text-right">Main branch</dt> <dd class="col-9">{{ project.main_branch }}</dd>
            <dt class="col-3 text-right">Description</dt> <dd class="col-9">{{ project.description }}</dd>
               <dt class="col-3 text-right">Homepage</dt> <dd class="col-9">{% if project.homepage %}<a href="{{ project.homepage }}">{{ project.homepage }}</a>{% else %}—{% endif %}</dd>
                <dt class="col-3 text-right">Updated</dt> <dd class="col-9">{{ project.updated }}</dd>
                <dt class="col-3 text-right">Version</dt> <dd class="col-9">{{ project.version|default:"—" }}</dd>
          <dt class="col-3 text-right">Commits since</dt> <dd class="col-9">{{ project.commits_since }}</dd>
              <dt class="col-3 text-right">Has tests</dt> <dd class="col-9">{{ project.tests|yesno:"✔,✘" }}</dd>
               <dt class="col-3 text-right">Has docs</dt> <dd class="col-9">{{ project.docs|yesno:"✔,✘" }}</dd>
    <dt class="col-3 text-right">Also build in Debug</dt> <dd class="col-9">{{ project.debug|yesno:"✔,✘" }}</dd>
           <dt class="col-3 text-right">From Gepetto</dt> <dd class="col-9">{{ project.from_gepetto|yesno:"✔,✘" }}</dd>
           <dt class="col-3 text-right">Dependencies</dt> <dd class="col-9">{{ project.print_deps }}</dd>
   <dt class="col-3 text-right">Reverse Dependencies</dt> <dd class="col-9">{{ project.print_rdeps }}</dd>
  </dl>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link {% if 'robotpkg'     in request.path %}active{% endif %}" href="{% url 'rainboard:project'              slug=project.slug %}">Robotpkg    </a></li>
  <li class="nav-item"><a class="nav-link {% if 'repos'        in request.path %}active{% endif %}" href="{% url 'rainboard:project-repos'        slug=project.slug %}">Repos       </a></li>
  <li class="nav-item"><a class="nav-link {% if 'branches'     in request.path %}active{% endif %}" href="{% url 'rainboard:project-branches'     slug=project.slug %}">Branches    </a></li>
  <li class="nav-item"><a class="nav-link {% if 'images'       in request.path %}active{% endif %}" href="{% url 'rainboard:project-images'       slug=project.slug %}">Images      </a></li>
  <li class="nav-item"><a class="nav-link {% if 'contributors' in request.path %}active{% endif %}" href="{% url 'rainboard:project-contributors' slug=project.slug %}">Contributors</a></li>
</ul>

{% if table %}

{% render_table table %}

{% if 'images' in request.path %}
<pre><code class="bash">{% for image in object_list %}
{{ image.pull|join:' ' }}
{% endfor %}</code></pre>
{% endif %}

{% else %}

{% for rpkg in project.robotpkg_set.all %}

<h3>{{ rpkg.category }} / {{ rpkg }}</h3>

{{ rpkg.description }}

<dl class="row" style="line-height: 1">
               <dt class="col-3 text-right">Base</dt> <dd class="col-9">{{ rpkg.pkgbase }}</dd>
            <dt class="col-3 text-right">Version</dt> <dd class="col-9">{{ rpkg.pkgversion }}</dd>
{% if project.public and not request.user.is_staff %}
       <dt class="col-3 text-right">Master Sites</dt> <dd class="col-9">{{ rpkg.master_sites }}</dd>
  <dt class="col-3 text-right">Master Repository</dt> <dd class="col-9">{{ rpkg.master_repository }}</dd>
{% endif %}
         <dt class="col-3 text-right">Maintainer</dt> <dd class="col-9">{{ rpkg.maintainer }}</dd>
            <dt class="col-3 text-right">Comment</dt> <dd class="col-9">{{ rpkg.comment }}</dd>
            <dt class="col-3 text-right">License</dt> <dd class="col-9">{{ rpkg.license }}</dd>
            <dt class="col-3 text-right">Updated</dt> <dd class="col-9">{{ rpkg.updated }}</dd>
          <dt class="col-3 text-right">Main page</dt> <dd class="col-9">{% if rpkg.main_page %}<a href="{{ rpkg.main_page }}">{{ rpkg.main_page }}</a>{% else %}—{% endif %}</dd>
         <dt class="col-3 text-right">Build page</dt> <dd class="col-9"><a href="{{ rpkg.build_page }}">{{ rpkg.build_page }}</a></dd>
</dl>

{% endfor %}

<h3>generated .gitlab-ci.yml</h3>
<a class="btn btn-outline-primary" href="{% url 'rainboard:project-gitlab' slug=project.slug %}">Télécharger</a>
<pre><code class="yaml">
{{ project.gitlabciyml }}
</code></pre>

{% endif %}

{% endblock %}
