{% extends 'ndh.html' %}
{% load ndh static %}

{% block style %}<link rel="stylesheet" href="{% static 'highlight/github.css' %}">{% endblock %}

{% block pagetitle %}Gepetto Packages{% endblock %}
{% block sitetitle %}Gepetto Packages{% endblock %}
{% block navbarleft %}
{% navbar_item 'rainboard:forges' 'Forges' %}
{% navbar_item 'rainboard:namespaces' 'Namespaces' %}
{% navbar_item 'rainboard:graph' 'Graph' %}
{% navbar_item 'rainboard:contributors' 'Contributors' %}
{% navbar_item 'rainboard:gepetto' 'Gepetto' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'highlight/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
